/* Map Styles */
#map,
#clusterMap {
    width: 100%;
    margin-bottom: 3rem;
}

#map {
    height: 300px;
}

#clusterMap {
    height: 500px;
}

.mapTitle {
    color: #AF7AC5;
    font-size: 1rem;
    font-weight: bold;
}

.mapLocation {
    color: rgb(177, 177, 177);
}

.mapLink {
    text-decoration: none;
    color: #AF7AC5;
    font-weight: bold;
}

.mapLink:hover {
    text-decoration: underline;
    cursor: pointer;
}