<!-- TODO: add bootstrap invalid feedback to the form fiels that gives different messages depending if the field is empty, invalid, password is not strong enough, etc (maybe use existing ExpressError middleware to make this faster)  -->
<%- layout('layouts/boilerplate') -%>

<h1 class="text-center mb-3">Register</h1>

<div class="col-6 offset-3">

    <form action="/register" method="post" class="needs-validation" novalidate>

        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
    
        <button class="btn btn-success">Register</button>
    </form>
</div>